In [15]:
import duckdb
import pandas as pd

In [16]:
sql_query = '''
show tables
'''

# sql_query = '''
# DROP TABLE my_first_dbt_model;
# '''

with duckdb.connect('data/prod_nyc_parking_violations_sv.db') as con:
    display(con.sql(sql_query).df())

                              name
0         bronze_parking_violation
1   bronze_parking_violation_codes
2                      first_model
3              gold_ticket_metrics
4             gold_vehicle_metrics
5           parking_violation_2023
6          parking_violation_codes
7                        ref_model
8   silver_parking_violation_codes
9        silver_parking_violations
10        silver_violation_tickets
11       silver_violation_vehicles

In [10]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT * 
FROM read_csv_auto(
  'data/dof_parking_violation_codes.csv',
  normalize_names=True
)
'''

In [11]:
sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violation_2023 AS
SELECT * 
FROM read_csv_auto(
  'data/parking_violations_issued_fiscal_year_2023_sample.csv',
  normalize_names=True
)
'''

In [12]:
#once executed - automatically closes the connection
with duckdb.connect('data/prod_nyc_parking_violations_sv.db') as con:
    con.sql(sql_query_import_1)
    con.sql(sql_query_import_2)